/* reset css */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pacifico&display=swap");
* {
  /* min-width: 0; */
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

.tenor-gif-embed {
  size: 2rem;
}

.paper {
  display: flex;
  flex-direction: column;
  gap:1.2rem;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

.a {
 padding-bottom: 1rem;
}

p {
  text-wrap: pretty;
}

/* styles */
/* TODO: Cambiar la fuente

* {
  font-family: comic-sans;
} */

body {
  background-color: #fad7df;
}

main {
  display: flex;
  flex-direction: column;

  gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 120vh;
}

.Mensajito {
  z-index: -20;
}

.container-letter {
  position: relative;
  zoom: 0.5;
}

.cover {
  position: absolute;
  border-left: 600px solid transparent;
  border-right: 600px solid transparent;
  border-top: 300px solid #fe3334;
  border-bottom: 300px solid transparent;
  z-index: 100;
  /*  */
  transition: transform 0.75s;
  transform-origin: top;
}

.paper {
  position: absolute;
  padding: 2rem;
  line-height: 3rem;
  font-size: 3rem;
  right: 5px;
  border-radius: 0.6rem;
  /*  */
  z-index: -1;
  background: white;
  width: 1190px;
  height: 100%;
  overflow: scroll;

  transition: all 0.75s;
}

.letter {
  border-left: 600px solid #ff989e;
  border-right: 600px solid #ff989e;
  border-top: 300px solid transparent;
  border-bottom: 300px solid #ff858a;
  z-index: 10;
}

.options {
  display: flex;
  gap: 5rem;
  z-index: 1000;
  & button {
    color: #ff3234;
    font-weight: 600;
    border-radius: 3px;
    background: #fad7df;
    padding: 0.5rem 1rem;
    border: 1px solid #fe3334;
    cursor: pointer;
  }

  & button:hover {
    background: #ff989e;
    color: white;
  }
}

.open-cover {
  transform: rotatex(180deg);
}

.open-paper {
  animation: openPaper 0.5s forwards;
}

@keyframes openPaper {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    z-index: 100;
    top: -120px;
  }
}

.close-paper {
  animation: closePaper 0.5s forwards;
}

@keyframes closePaper {
  0% {
    top: -120px;
  }
  100% {
    top: 0;
  }
}

.heart {
  display: none;
  position: absolute;
  top: 45%;
  left: 48.8%;
  z-index: 200;
  margin: auto;
  font-size: 3rem;

  color: #fe3334;

  animation: crecer 1s forwards;
}

@keyframes crecer {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 10;
    opacity: 0;
  }
}

.fixed {
  position: absolute;
  inset: 0;
  height: 100vh;
  overflow: hidden;
  &::before {
    position: absolute;
    content: "";

    inset: 0;
    height: 100%;
    z-index: 50;
    background-color: #0000006e;
  }
}
